<footer class="flex w-screen h-72 bg-bloo mt-auto">
    <div class="logo h-full w-2/6 flex flex-col items-center py-10">
                    <a href="/" class="flex items-center py-4 px-2 ">
                        <img class="h-12 w-12 mr-2 " src="/images/undraw_hiking_green.svg" alt="undraw illustration of a woman hiking" srcset="">
                        <span class="font-bold text-4xl text-white">Yelp Trails</span>
                    </a>    
                    <p class="text-white">Copyright &copy; 2023</p>
    </div>
    <div class="main-footer h-full w-4/6">
        <div class="top-footer h-4/6 w-full border-white border-b-4 flex justify-between py-10">
            <div class="link-home" class="h-full w-4/6 flex flex-col justify-evenly">
                <div class="space-x-32 mb-4">
                    <a href="/" class="border-l-2 border-green-500 px-2 text-xl text-white">
                        Home
                    </a>
                    <a href="/contact" class="border-l-2 border-green-500 px-2 text-xl text-white">
                        Contact
                    </a>
                    <a href="/about" class="border-l-2 border-green-500 px-2 text-xl text-white">
                        About
                    </a>
                </div>
                <div class="space-x-32">
        
                    <a href="" class="border-l-2 border-green-500 px-2 text-xl text-white">
                        More projects
                    </a>
          
                </div>
            </div>
            <div class="button-home h-full w-2/6 flex flex-col items-center">
                <button class="bg-darkerPeach h-15 w-40 p-4 text-bloo text-2xl shadow-lg rounded-lg">
                    Button
                </button>
            </div>
        </div>
        <div class="bottom-footer h-2/6 w-full flex justify-end items-center px-8 space-x-4">
            <a aria-label="Instagram link icon" href="">
                <i class="fa-brands fa-instagram fa-2xl text-limeGreen hover:text-whiteish"></i>

            </a>
            <a aria-label="Twitter link icon" href="">
                <i class="fa-brands fa-x-twitter fa-2xl text-limeGreen hover:text-whiteish"></i>

            </a>
            <a aria-label="LinkedIn link icon" href="">
                <i class="fa-brands fa-linkedin-in fa-2xl text-limeGreen hover:text-whiteish"></i>

            </a>
        </div>
    </div>


</footer>