<nav class="bg-gray-100">
    <div class="px-8 mx-auto ">
        <div class="flex justify-between">
            <div class="flex space-x-4">
                <div>
                    <a href="/" class="flex items-center py-4 px-2">
                        <img class="h-12 w-12 mr-2" src="/images/undraw_hiking.svg" alt="undraw illustration of a woman hiking" srcset="">
                        <span class="font-bold text-2xl">Yelp Trails</span>
                    </a>
                </div>

                <div class="hidden md:flex items-center space-x-3">
                    <a href="/" class="py-4 px-3 hover:text-green-950 transition-colors text-xl ">
                    Home
                    </a>
                    <a href="/trails/all" class="py-4 px-3 hover:text-green-950 text-xl">All trails</a>
                    <a href="/about" class="py-4 px-3 hover:text-green-950 text-xl">About</a>
                </div>
            </div>


            <div class="hidden md:flex items-center space-x-1">
                <div class="rounded-md h-8 w-8">
                    <img class="w-full h-full" src="/images/person.svg" alt="">
                </div>
                <a href="/user/login" class="py-4 px-2  hover:text-green-950  text-lg">Login</a>
                <a href="/user/signUp"
                    class="py-2 px-2 bg-green-600 rounded-md shadow hover:bg-green-700 hover:text-white transition-all duration-300 text-lg">Sign
                    up</a>
            </div>

            <!-- Mobile -->
            <div class="md:hidden flex items-center ">
                <button class="mobile-menu-button h-10 w-10">
                    <img class="w-full h-full" src="/images/menu.svg" alt="">
                </button>

            </div>

        </div>



    </div>
    <div class="mobile-menu hidden md:hidden">
        <a class="block py-2 px-4 text-md hover:bg-gray-200" href="/">
            Home
        </a>
        <a class="block py-2 px-4 text-md hover:bg-gray-200" href="/trails/all">
            All trails
        </a>
        <a class="block py-2 px-4 text-md hover:bg-gray-200" href="/about">
            About
        </a>
        <a class="block py-2 px-4 text-md hover:bg-gray-200" href="/user/login">
            Login
        </a>
        <a class="block py-2 px-4 text-md hover:bg-gray-200" href="/user/signUp">
            Sign up
        </a>
    </div>


</nav>