<nav class="h-screen w-20 fixed top-0 left-0 flex flex-col bg-black">

    <div class="h-1/2 flex flex-col justify-evenly items-center ">
        <a class="sidebar-icon group" href="/">
            <span class="material-symbols-outlined">search</span>  
          
        </a>

        <a class='sidebar-icon' href="/">
            <span class="material-symbols-outlined">home</span>
        </a>
        <a class='sidebar-icon' href="/">
            <span class="material-symbols-outlined">login</span>
        </a>
      

    </div>
    <div class="h-1/2 flex flex-col justify-evenly items-center ">
          <a class='sidebar-icon' href="/newTrail">
            <span class="material-symbols-outlined">add_box</span>
        </a>
    </div>

</nav>