<nav class="bg-whiteish sticky top-0">
    <div class="px-8 mx-auto ">
        <div class="flex justify-between ">
            <div class="flex space-x-4 ">
                <div>
                    <a href="/" class="flex items-center py-4 px-2 ">
                        <img class="h-12 w-12 mr-2 " src="/images/undraw_hiking.svg" alt="undraw illustration of a woman hiking" srcset="">
                        <span class="font-bold text-2xl hover:text-bloo">Yelp Trails</span>
                    </a>
                </div>

                <div class="hidden md:flex items-center space-x-3">
                    <a href="/" class="py-4 px-3  hover:text-bloo transition-colors text-xl ">
                    Home
                    </a>
                    <a href="/trails/all" class="py-4 px-3 hover:text-bloo text-xl">All trails</a>
                    <a href="/about" class="py-4 px-3  hover:text-bloo text-xl">About</a>
                </div>
            </div>


            <div class="hidden md:flex items-center space-x-1">
                <button class="h-9 w-9">
                    <img class="w-full h-full" src="/images/undraw_avatar.svg" alt="Female avatar icon">
                </button>
                <a href="/user/login" class="py-4 px-2  hover:text-bloo  text-lg">Login</a>
                <a href="/user/signUp"
                    class="py-2 px-2 text-white bg-bloo rounded-md shadow hover:bg-limeGreen hover:text-black transition-all duration-500 text-lg">Sign
                    up</a>
            </div>

            <!-- Mobile -->
            <div class="md:hidden flex items-center ">
                <button aria-label="Drop down menu button" class="mobile-menu-button h-10 w-10">
                    <img class="w-full h-full" src="/images/menu.svg" alt="">
                </button>

            </div>

        </div>



    </div>
    <div class="mobile-menu hidden md:hidden">
        <a class="block py-2 px-4 text-md links" href="/">
            Home
        </a>
        <a class="block py-2 px-4 text-md links" href="/trails/all">
            All trails
        </a>
        <a class="block py-2 px-4 text-md links" href="/about">
            About
        </a>
        <a class="block py-2 px-4 text-md links" href="/user/login">
            Login
        </a>
        <a class="block py-2 px-4 text-md links" href="/user/signUp">
            Sign up
        </a>
    </div>


</nav>