<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YelpTrails | <%= pageName %></title>
  <link rel="stylesheet" href="/css/output.css">

<script src="https://kit.fontawesome.com/e823734a38.js" crossorigin="anonymous"></script>
</head>

<body class="h-screen">
  <%- include('../partials/nav.ejs') %>

  <%- body %>

  <%- include('../partials/footer.ejs') %>
  <script src="/scripts/nav.js"></script>

</body>

</html>

