<% layout('layouts/boilerplate') %>
<% if (status === 404) { %>
 <div class="h-full w-full flex justify-center items-center bg-404">
    <h1 class="text-9xl">Error!</h1>
    <h2><%= status %></h2>
    <h3><%= message %></h3>
</div>

<% } else { %>
 <div class="h-full w-full flex justify-center items-center bg-500">
    <h1 class="text-9xl">Error!</h1>
    <h2><%= status %></h2>
    <h3><%= message %></h3>
</div>
<% } %>

