<%- include('heads/head') %>
<%- include('../partials/nav.ejs') %>
<div class="h-full flex justify-center items-center">

    <h1 class="text-9xl">Hello world</h1>

</div>

<%- include('heads/foot') %>