<%- include('heads/head') %>

<main class="h-screen flex justify-center items-center">
    <div class="h-1/2 w-1/2 flex flex-col justify-evenly items-center ">
        <h1 class="text-4xl">Error</h1>
    <h2 class="text-lg">Not a valid page.Please try again</h2>
    <a class="text-blue-900 text-md" href="/">Home</a>
    </div>
</main>

<%- include('heads/foot') %>
