<% layout('layouts/boilerplate') %>

<main class="h-fit w-full flex flex-col justify-center items-center space-y-8" id="allOwnerDiv">
    
    <h1 class="text-7xl my-12"><%= trailOwnerName %>'s trails: </h1>
    <div class="h-full w-full flex flex-wrap justify-evenly items-center pb-4">
       <% for (let trailByOwnersName of trailsByOwnerName) { %>
        <%- include('../partials/trailPartial.ejs',{singleTrail: trailByOwnersName}) %>
       <% } %>
   </div>
   </main>
  
